/* User Option DIV */
/* Get rid of all margins as they seem to make a mess: */
#header, #content, #memu_main, #menu_sub, #wrapper, .news, #toc_list, #page_buttons
{
	margin:0;
	padding:0;
	border:0;
}


/* First thing we need is sections for the format of the website. */
#header, #content, #menu_main, #footer, #wrapper
{
	width:100%;
	display:block;
	margin:0px;
	padding: 0px;
	border-width:0px;
	border-style:solid;
	border-color:white;
	background-color:white;
	position:relative;
}


body, #wrapper, #header
{
	margin:0px;
	border:0px;
	padding:0;
	background-color:#7bcff7;
	font:normal normal normal 12pt/120% Times;
	background-image:url('rcbodybg.jpg');
}

#wrapper
{
	width:1000px;
	margin: 10px auto;
	padding: 0;
}

div#header
{
	margin-bottom:-4px;
}


/***********************
*** MAIN MENU STYLES ***
***********************/

#menu_main
{
	left:  0px;
	top:   0px;
	width: auto;
	border:0;
	background:#000000;
	background:linear-gradient(180deg,#000000,#707070);
	text-align: center;
}

div#menu_main a
{
	color: #FFF;
	width: 7em;
	border:0;
	border: 2px solid #000;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	display:inline-block;
	margin:0;
	padding: .4em 0;
	text-align:center;
	font:normal normal normal 8pt/100% Arial;
	text-decoration:none;
	font-weight:bold;
	font-size:12pt;
	background-color:#707070;
	background:linear-gradient(180deg,#707070,#000000);
}

div#menu_main a:hover
{
	text-decoration:none;
	background-color:#000000;
	background:linear-gradient(0deg,#707070,#000000);
	color: #ddd;
}

/**********************
*** SUB MENU STYLES ***
**********************/

div#menu_sub
{
	background-color: #ddd;
	margin: 0;
	padding: 7px 0px;
	border: 0;
}

div#menu_sub a{
	font: normal normal normal 10pt/100% Arial;
	margin: 0 5px;
	text-decoration: none;
	color: #000;
}

div#menu_sub a:hover{
	text-decoration: underline;
}

twitter_update_list a
{
	font-weight:normal;
}



/*****************************
*** CONTENT SECTION STYLES ***
*****************************/
div#content
{
	border:0;
	margin:0;
	padding:0;
	border: black solid 1px;
	padding:10px;
	width:auto;
}


div#content a,
div#content a:visited
{
	text-decoration: none;
	font-weight:normal;
	color:#aa0000;
}

div#content a:visited
{
	color:#880000;
}

div#content a:hover
{
	text-decoration: underline;
}

div#content a.tlink
{
	font:inherit;
	color: white;
}
div#content a.tlink:hover
{
	text-decoration:underline;
}

div#content p
{
	margin:0;
	border:0;
	padding:0;
	margin-bottom:.5em;
}

div#content table
{
	width:  100%;
	border: 0px outset gray;
	background-color: white;/*black;*/
	text-align: left;
	padding:0px;
	margin:0px;
}

div#content td,
div#content th
{
	text-align:left;
	padding: 0px;
	margin:  0px;
	border: 0px solid black;
	vertical-align:top;
}

div#content h1, h2, h3, h4
{
	margin:  0px;
	padding: 0px;
	font-weight: bold;
}

div#content h1
{
	margin: 0px;
	padding:8px 0px 18px 0px;
	font-size:  200%;
	text-align: center;
	border:     0px solid black;
	background: #707070;
	background:linear-gradient(180deg,#707070,#707070,#707070,#707070,#FFFFFF);
	color:#eee;
}

div#content h2
{
	padding: 2px .5em 2px;
	border: 3px solid #101010;
	border-radius:25px;
	color: white;
	background: #707070;
	background:linear-gradient(180deg,#707070,#000000);
	font-size:175%;
	line-height:105%;
	box-shadow: 5px 5px 5px #555555;
}

div#content h3
{
	padding: 2px;
	border:     0px solid #707070;
	font-size: 150%;
	line-height:105%;
}

div#content h4
{
	font-size: 100%;
	margin-top:.10em;
}

div#content ul
{
	margin:1em;
	border:0;
	padding:0;
}



/******************
*** NEWS STYLES ***
******************/

div.news
{
	
}

div.news h3
{
	margin:5px 0px;
}

div.news p
{
	margin:0 2em;
}

div.b2EvoContent
{
	margin:1em;
}

div.news_body
{
	margin:0 2em;
}

/****************************
*** HOME PAGE DIV SEGMENT ***
****************************/
div.home_seg
{
	padding:0;
	display:inline-block;
	vertical-align:top;
	margin:0;
	border:0;
}

a.big_link
{
	font-size:120%;
	display:block;
	margin:6px 0px;
}

/*******************
*** EMAIL STYLES ***
*******************/

div#content a.elink_unread,
div#content a:visited.elink_unread
{
	font-weight: bold;
}



/********************
*** FOOTER STYLES ***
********************/


div#footer
{
	margin:0em 0;
	padding:0em;
	font-size:8pt;
	color:#777777;
}

div#footer a
{
	color:#666666;
	text-decoration:none;
}

div#footer a:hover
{
	text-decoration:underline;
}

div#footer hr
{
	margin: 0em 12%;
}

div#footer p
{
	padding:0em 0;
	margin:0em 20% 1em 20%;
	border-top:1px solid #555555;
	border-bottom:1px solid #555555;
}


/**********************************
*** STYLES FOR IMBEDDED CONTENT ***
**********************************/
div.note_block
{
	display:block;
	margin:0 2em;
	border:1px dashed;
	padding:.5em;
	background-color:#eee;
}

div.image_block, div.image_block_inline
{
	display:block;
	padding:0;
	margin:0 .5em;
	border:0;
	text-align:left;
	font-size:75%;
	border:5px solid black;
	background-color:black;
	border-radius:5px;
	box-shadow: 5px 5px 5px #555555;
}

div.image_block_inline
{
	border-radius:0;
	border:0;
	box-shadow:none;
}

div.image_block
{
	margin:0 1em;
}

div.image_block img, div.image_block_inline img
{
	display:block;
	padding:0;
	margin:0;
	border:0;
}

div.image_block_full, div.image_block_full img
{
	display:block;
	padding:0;
	margin:0;
	border:0;
	text-align:left;
	font-size:75%;
}

div.image_caption
{
	margin:0;
	border:0;
	padding:.25em;
	color:#fff;
}

/*********
 Comments
*********/

div#comment_block
{
	margin:0 20%;
	border:0px solid black;
	padding:1em;
}

div#comment_block h3
{
	text-align:center;
}

div.comment
{
	margin:1em;
	border:1px dashed gray;
	padding:.25em;
}

div#comment_block p.text
{
	margin:0 1em;
	border:0;
	padding:0;
}

div#comment_block p.date
{
	margin:0;
	padding:0;
	border:0;
	font-size:smaller;
	color:gray;
	text-align:right;
}

span.leave_comment_header
{
	display:inline-block;
	width:5em;
	font-weight:bold;
}

div#comment_block_leave_feedback
{
	border:1px dashed red;
	margin:0 30%;
	padding:1em;
	font-size:small;
}

div#comment_block_leave_feedback input
{
	border:1px solid red;
	color:darkred;
	background-color:lightcyan;
}

div#comment_block_leave_feedback input.button
{
	display:block;
	border:1px solid red;
	color:darkred;
	background-color:gray;
	margin:auto;
	font-weight:bold;
}

div#comment_block_leave_feedback br
{
	margin:2px 0;
}

div#rc_errors, div#rc_errors p
{
	background-color: #000;
	font-weight:bold;
	margin:0;
	border:0px solid red;
	padding:0;
	color:#fff;
}

div#rc_errors p
{
	padding:.5em;
}